asgiref==3.9.1
certifi==2025.10.5
charset-normalizer==3.4.3
Django==5.2.6
idna==3.11
Pillow==11.3.0
pytz==2025.2
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
minio==7.2.7
django-storages==1.14.4
python-decouple==3.8
django-session-timeout==0.1.0
gunicorn==21.2.0
whitenoise==6.6.0
cloudinary==1.36.0
dj-database-url
psycopg2-binary
